h1.welcome{
	font-family: 'Chakra Petch', serif;
}

h1.ana{
	font-family: Alata;
	font-size: 36px;
}

h1.fruit{
	font-family: Alata;
	font-size: 72px;
}

nav a:link{
	font-family:'Alata', serif;
	font-size: 14px;
	line-height: 19px;
	color: #898989;
	text-decoration :none;

	float: left;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
}

nav a:visited{
	text-decoration: none;
	color: #898989;
}

nav a:visited.current{
	text-deocration: none;
	color: #000000;
}

nav.current{
	color: #000000;
}

.welcome {
	display: grid;
	float: left;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 50%;
	height: 500px;
	padding-left: 0px;

	font-family: 'Chakra Petch', serif;
	color: #FB8484;
}

.wel {
	grid-row-start: 1;
	grid-column-start:1;
	text-align: right;

	font-size: 64px;
}

.to {
	grid-row-start: 2;
	grid-column-start:1;
	text-align: right;

	font-size: 36px;
}

.my {
	grid-row-start: 3;
	grid-column-start:2;

	font-size: 48px;
}

.of {
	grid-row-start: 4;
	grid-column-start:1;
	text-align: right;

	font-size: 36px;
}

.rec {
	grid-row-start: 5;
	grid-column-start:2;

	font-size: 72px;
}

.about{
	font-family: 'Chakra Petch';
}

.about h5{
	font-family: 'Alata';
}

.rectangle{
	width: 344px;
	height: 355px;

	background: #FFE2E2;
	border-radius: 15px;
}

#anatomy {
	position: absolute;
	width: 159px;
	height: 62px;
	left: 25px;
	top: 87px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
}

#of {
	position: absolute;
	width: 91px;
	height: 53px;
	left: 166px;
	top: 124px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
}

#a {
	position: absolute;
	width: 67px;
	height: 57px;
	left: 184.35px;
	top: 140px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 99px;

	color: #000000;

	transform: rotate(25.29deg);
}

#fruit {
	position: absolute;
	width: 403px;
	height: 83px;
	left: 184px;
	top: 225px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 99px;
}


.pinkRec{
	position: absolute;
	width: 100%;
	height: 400px;
	background: #FFF3F3;

	top: 500px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);

	padding-left: 25px;

	font-family: 'Chakra Petch', serif;	
}


.pinkRec.ing{
	font-size: 18px;
	grid-row-start: 1;
	grid-column-start: 1;
}


.pinkRec.tip{
	font-size: 18px;
	grid-row-start: 1;
	grid-column-start: 2;
}

.pinkRec.ingDesciprtion{
	grid-row-start: 2;
	grid-column-start: 1;

	font-size: 14px;
}


.pinkRec.tipDescription{
	grid-row-start: 2;
	grid-column-start: 2;

	font-size: 14px;
}


.step {
	position: absolute;
	font-family: Alata;
	font-size: 24px;

	left: 25px;
	top: 919px;
}


.overview{
	position: absolute;
	width: 100%;
	height: 800px;
	background: #FFF3F3;

	top: 1385px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);

	padding-left: 50px;
	padding-right: 50px;

	font-family: 'Chakra Petch', serif;	
}

.overTitle {
	font-family: Alata;
	font-size: 24px;

	grid-row-start: 1;
	grid-column-start: 1;

}

.tartImg {
	position: absolute;
	width: 318px;
	height: 318px;
	left: 830px;
	top: 87px;
}








