/*CSS styling for pages on HW8*/

h1.welcome{
	font-family: 'Chakra Petch', serif;
}

h1.ana{
	font-family: Alata;
	font-size: 36px;
}

h1.fruit{
	font-family: Alata;
	font-size: 72px;
}

/*nav bar formatting*/
nav a:link{
	font-family:'Alata', serif;
	font-size: 14px;
	line-height: 19px;
	color: #898989;
	text-decoration :none;

	float: left;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
}

nav a:visited{
	text-decoration: none;
	color: #898989;
}

nav a:visited.current{
	text-deocration: none;
	color: #000000;
}

nav.current{
	color: #000000;
}

.welcome {
	display: grid;
	float: left;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 50%;
	height: 500px;
	padding-left: 0px;

	font-family: 'Chakra Petch', serif;
	color: #FB8484;
}

.wel {
	grid-row-start: 1;
	grid-column-start:1;
	text-align: right;

	font-size: 64px;
}

.to {
	grid-row-start: 2;
	grid-column-start:1;
	text-align: right;

	font-size: 36px;
}

.my {
	grid-row-start: 3;
	grid-column-start:2;

	font-size: 48px;
}

.of {
	grid-row-start: 4;
	grid-column-start:1;
	text-align: right;

	font-size: 36px;
}

.rec {
	grid-row-start: 5;
	grid-column-start:2;

	font-size: 72px;
}

.about{
	font-family: 'Chakra Petch';
}

.about h5{
	font-family: 'Alata';
}

.rectangle{
	width: 344px;
	height: 355px;

	background: #FFE2E2;
	border-radius: 15px;
}

/*title of fruit tart page*/
#anatomy {
	position: absolute;
	width: 159px;
	height: 62px;
	left: 25px;
	top: 87px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
}

#of {
	position: absolute;
	width: 91px;
	height: 53px;
	left: 166px;
	top: 124px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
}

#a {
	position: absolute;
	width: 67px;
	height: 57px;
	left: 184.35px;
	top: 140px;

	font-family: Alata;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 99px;

	color: #000000;

	transform: rotate(25.29deg);
}

#fruit {
	position: relative;
	width: 403px;
	height: 83px;
	left: 184px;
	top: 225px;

	font-family: 'Alata';
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 99px;
}

/*the ingredients and tips grid*/
.pinkRec{
	position: absolute;
	height: 410px;
	background: #FFF3F3;

	top: 500px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 3fr;

	padding-left: 25px;
	padding-right: 25px;
	grid-column-gap: 15px;
}


.ing{
	font-family: 'Alata';
	font-size: 18px;
	grid-row-start: 1;
	grid-column-start: 1;
	
}


.tip{
	font-family: 'Alata';
	font-size: 18px;
	grid-row-start: 1;
	grid-column-start: 2;	
}

.ingDescription{
	grid-row-start: 2;
	grid-column-start: 1;

	font-family: 'Chakra Petch';
	font-size: 13px;
	padding-left: 35%;
}


.tipDescription{
	grid-row-start: 2;
	grid-column-start: 2;

	font-family: 'Chakra Petch';
	font-size: 13px;
	padding-right: 50px;
}


.step {
	position: absolute;
	font-family: Alata;
	font-size: 24px;

	left: 25px;
	top: 919px;
}


/*formatting the overview grid*/
.overview{
	position: absolute;
	height: 2000px;
	background: #FFF3F3;
	top: 1385px;

	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(15, 1fr);


	padding-left: 25px;
	padding-right: 25px;

	font-family: 'Chakra Petch', serif;
	font-size: 11px;
}

.overview img{
	align-self: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.overTitle {
	font-family: Alata;
	font-size: 24px;

	grid-row-start: 1;
	grid-column-start: 1;

}

.tartImg {
	position: absolute;
	width: 318px;
	height: 318px;
	left: 830px;
	top: 87px;
}

/*formatting the titles of the overview section*/
.stageOne {
	font-family: 'Alata';
	font-size: 13px;
	grid-row-start: 2;
	grid-column-start:2;
	align-self: center;

}

.stageTwo {
	font-family: 'Alata';
	font-size: 13px;
	grid-row-start: 4;
	grid-column-start:2;
	align-self: center;
}

.stageThree {
	font-family: 'Alata';
	font-size: 13px;
	grid-row-start: 8;
	grid-column-start:2;
	align-self: center;
}

/*formatting for all icons in the overview section grid*/
.one {
	width: 91.6px;
	height: 91.6px;
	grid-row-start: 2;
	grid-column-start: 3;
}

.two{
	width: 101.03px;
	height: 101.03px;
	grid-area: 2/4;
}

.three{
	width: 101.03px;
	height: 101.03px;
	grid-area: 2/5;
}

.four{
	width: 109.79px;
	height: 109.79px;
	grid-area: 4/3;
}

.five{
	width: 90px;
	height: 90px;
	grid-area: 4/4;
}

.six{
	width: 120px;
	height: 120px;
	grid-area: 4/5;
}

.seven{
	width: 90px;
	height: 90px;
	grid-area: 6/3;
}

.eight{
	width: 78.13px;
	height: 78.13px;
	grid-area: 6/4;
}

.nine{
	width: 80.15px;
	height: 80.15px;
	grid-area: 8/3;
}

.ten{
	width: 78.13px;
	height: 78.13px;
	grid-area: 8/4;
}

.eleven{
	width: 78.13px;
	height: 78.13px;
	grid-area: 8/5;
}

.twelve{
	width: 80.15px;
	height: 80.15px;
	grid-area: 10/3;
}

.thirteen{
	width: 91.6px;
	height: 91.6px;
	grid-area: 10/4;
}

.fourteen{
	width: 107.77px;
	height: 107.77px;
	grid-area: 10/5;
}

.fifteen{
	width: 92.95px;
	height: 92.95px;
	grid-area: 12/3;
}

.sixteen{
	width: 150px;
	height: 150px;
	grid-area: 12/4;
}

.seventeen{
	grid-area: 12/5;
	width: 87.56px;
	height: 87.56px;
}

.eighteen{
	width: 103.05px;
	height: 103.05px;
	grid-area: 14/4;
}



/*formatting for the text that goes below each image in overview section*/
.oneT{
	grid-area: 3/3;
}

.twoT{
	grid-area: 3/4;
}

.threeT{
	grid-area: 3/5;
}

.fourT{
	grid-area: 5/3;
}

.fiveT{
	grid-area: 5/4;
}

.sixT{
	grid-area: 5/5;
}

.sevenT{
	grid-area: 7/3;
}

.eightT{
	grid-area: 7/4;
}

.nineT{
	grid-area: 9/3;
}

.tenT{
	grid-area: 9/4;
}

.elevenT{
	grid-area: 9/5;
}

.twelveT{
	grid-area: 11/3;
}

.thirteenT{
	grid-area: 11/4;
}

.fourteenT{
	grid-area: 11/5;
}

.fifteenT{
	grid-area: 13/3;
}

.sixteenT{
	grid-area: 13/4;
}

.seventeenT{
	grid-area: 13/5;
}

.eighteenT{
	grid-area: 15/4;
}

/*the pink line and circle in step by step */

.line {
	top: 1150px;
	height: 14px;
	background-color: #FFF3F3;
	position: relative;
}

.mid {
	margin: 0 auto;
	top: 970px;
	height: 380px;
}

.mid .circle {
	position: absolute;
	vertical-align: middle;
	width: 390px;
	height: 390px;
	
	top: 970px;
	margin-left: 42%;

	border-radius: 50%;
	background-color: #FFD9D9;
}
/*styling for the step by step instructions*/
/*container*/
.slideshow-container {
	position: absolute;
	height: 380px;

	top: 970px;
	padding-left: 50%;

	align-items: center;
}

.slideshow-container img {
	position: relative;
	vertical-align: middle;

	top: 70px;

	height: 150px;
	width: 150px;

	display: block;
	align-self: center;
	margin-right: auto;
	margin-left: auto;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 10px;
	width: auto;
	padding: 16px;

	color: #000000;
	font-weight: bold;
	font-size: 18px;

	transition: 0.6 ease;
	user-select: none;
	border-radius: 0 5px 5px 0;
}

.next {
	right: 0px;
	border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover {
	background-color: #FFF3F3;
}

/* instruction text */
.text {
	position: absolute;
	top: 250px;

	font-size: 15px;
	font-family: "Chakra Petch";
	text-align: left;
	width: 200px;
}

.numbertext {
	position: absolute;
	top: 225px;
	font-size: 11px;
	text-align: center;
	font-family: "Alata";
	color: #898989;
}

/* fading */
.fade {
	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



